<style>
    .btn-primary {
        display: inline-block;
        padding: 12px 24px;
        background: linear-gradient(135deg, #4F46E5, #6366F1);
        color: white;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(79, 70, 229, 0.3);
        text-decoration: none;
    }

    .btn-primary:hover {
        background: linear-gradient(135deg, #4338CA, #4F46E5);
        box-shadow: 0 10px 20px rgba(79, 70, 229, 0.4);
    }

    .btn-primary:active {
        transform: translateY(1px);
        box-shadow: 0 4px 8px rgba(79, 70, 229, 0.2);
    }


    .container {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 50vh;

    }

    .welcome-text h1 {
        font-size: 3.8rem;
    }

    .welcome-text h2 {
        font-size: 2.5rem;
        color: #555;
        font-weight: 500;
        margin-bottom: 1rem;
    }
</style>



{% extends 'base.html' %}

{% block title %}
Welcome Page
{% endblock %}

{% block Lcontent%}
<div class="welcome-text">
    <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome!</h1>
    <h2>Organize, Prioritize, Breathe Easy.</h2>
    <img src="{{ url_for('static', filename='assets/signup3.webp') }}" alt="Welcome image">
</div>
{%endblock%}


{% block Rcontent%}
<div class="container">
    <a href="{{ url_for('createlist') }}" class="btn-primary">Create Your Workspace</a>

</div>

{%endblock%}