input:hover {
    cursor: pointer;
}

.form-control:focus {
    border-color: #fbc02d !important;
    box-shadow: 0 0 0 0.3rem rgba(251, 192, 45, 0.6);
}

.leaning-boy-container {
    position: absolute;
    right: calc(50% + 152px);
    top: 48.5%;
    z-index: 10;
}

.leaning-boy-img {
    height: 400px;
    width: auto;
    display: block;
}

@media (max-width: 992px) {
    .leaning-boy-container {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
    .leaning-boy-container {
        right: calc(50% + 115px);
    }
}

.login-container {
    position: relative;
    z-index: 1;
}

/* Speech bubble styling */
.speech-bubble {

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-140%, 20%);
    background: hsl(0, 0%, 80%);
    color: rgb(35, 33, 33);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 15px;
    font-family: cursive;
    font-size: 1.1rem;
    font-weight: 500;
    width: 280px;
    max-width: none;
    z-index: 2;
    overflow: hidden;

    white-space: nowrap;
}

/* Triangle tail */
.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 30px;
    transform: translateX(1100%);
    border-width: 10px;
    border-style: solid;
    border-color: #e21515 transparent transparent transparent;
}

/* Text inside the bubble with typing animation */
.typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #272525;
    width: 0;
    animation: typing 2.5s steps(27) forwards, blink-caret 0.75s step-end infinite;
}

body {
    background-color: #f5f7fa;
    /* very soft gray */
}



@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 25ch;
        /* length of text */
    }
}

/* Caret blinking animation */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #272525;
    }
}

body {
    background: linear-gradient(135deg, #dbeafe, #bfdbfe);
    /* soft sky blue gradient */
    color: #1e3a8a;


}

.custom-login-card {
    background: linear-gradient(to right, #5f2c82, #49a09d);
    /* purple-teal gradient */
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}